@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf0;
  --foreground: #ede8dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffaf0;
    --foreground: #ede8dd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
